<h1>Who is in the building right now</h1>

<div class="my-3">Select a building: 
    <select (change)="handleChangeBuilding($event)"  >
        <option value="">--select--</option>
        <option *ngFor="let building of buildings" [value]="building.name">
            {{building.name}}</option>
    </select>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>User</th>
            <th>Time</th>
            <th>Building</th>
            <th>Direction</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let accessRecord of accessRecords">
            <td>{{accessRecord.id}}</td>
            <td>{{accessRecord.user.firstname}} {{accessRecord.user.surname}}</td>
            <td>{{accessRecord.time}}</td>
            <td>{{accessRecord.building}}</td>
            <td>{{accessRecord.status ? "in" : "out"}}</td> 
        </tr>

    </tbody>
</table>
